<%= render 'form', room: Room.new %>

   <% @rooms.each do |room| %>
          <%= link_to room do %>
            <div class="card">
              <div class="card-body">
                <%= room.name %>
              </div>
            </div>
          <% end %>
        <% end %>