<%= render 'form', room: Room.new %>

   <% @rooms.each do |room| %>
        <div class="card" >
          <div class="card-body" > 
          <%# <%= turbo_frame_tag room, data: { turbo: true } do %>
            
            <%= link_to room.name , room, data: { turbolinks: false }, class: 'room' %>
          <%# <% end %>

          </div>
        </div>
    <% end %>

