<%= render 'form', room: Room.new %>

   <% @rooms.each do |room| %>
        <div class="card" >
          <div class="card-body" data-turbolinks="true" > 
            
          <%= link_to room.name , room_path(room), data: { turbolinks: true }, id: 'room' %>

          </div>
        </div>
    <% end %>